/* Shared Styles  */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}

.primary-color {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-primary:hover,
.btn-secondary {
  color: #e65c00;
  background-color: #fff;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.primary-color {
  color: gray;
}
.primary-background {
  background-color: #fff8f3;
}
button i {
  margin-right: 5px;
}
main section {
  margin-bottom: 100px;
}
.section-title, .section-description {
  text-align: center; 
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}
/* Header styles  */
header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
/* Navbar Styles */
nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin: 0 200px;
}
nav h1 {
  font-size: 35px;
  display: flex;
  align-items: center;
}
nav h1 span {
  color: #fd6e0a;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
}

/* Banner Styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 200px;
}
.banner-content button {
  margin-right: 20px;
}
.banner-image img {
  margin-bottom: -5px;
}

main {
  margin: 0 200px;
}

/* About Me Styles */

.about-me {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#about {
  margin: 80px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.box-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

/* What I Do Styles  */

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 200px;
  /* border: 1px solid black; */
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
}

/* Summary of my resume style  */
.summary-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.my-education, .my-experience{
  width: 48%;
}
.institute{
  font-weight: bold;
}
.summary-btn {
 display: flex;
 justify-content: center;
 margin-top: 20px;
}
